<p><i>Estadísticas:</i></p>
<p>Número de preguntas: <%= npreguntas %></p>
<p>Número de comentarios: <%= ncomments %></p>
<p>Número de preguntas con comentarios: <%= npregcon %></p>
<p>Número de preguntas sin comentarios: <%= npregsin %></p>
<p>Número medio de comentarios: <%= mediacomments %></p>
